<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="../src/bootstrap/css/bootstrap.css">
	<title>Forbiden access</title>
</head>
<body class="d-flex justify-content-center align-items-center vh-100">
	<div class="text-center">
		<h1 class="bg-danger text-light p-4">ACCESS FORBIDDEN</h1>
		<a class="btn btn-outline-dark" href="./index.html">Go back to the main page</a>
	</div>
</body>
</html>