<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Recuperar Contraseña</title>
        <link rel="stylesheet" href="../../src/bootstrap/css/bootstrap.css" />
    </head>
    <body class="d-flex justify-content-center align-items-center vh-100">
        <main class="border border-1 border-black-50 p-5 text-center">
            <h2>Recuperar Contraseña</h2>
            <p class="my-3">Introduce tu correo electrónico para restablecer tu contraseña.</p>
            <input type="email" class="form-control" id="email" placeholder="Correo Electrónico" />
            <button class="btn btn-primary mt-3">Enviar</button>
        </main>
    </body>
</html>
