<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Monitorias Administrativas</title>
        <link rel="stylesheet" href="../../src/bootstrap/css/bootstrap.css">
    </head>
    <body>
        <header class="d-flex bg-dark p-4 px-8 justify-content-between align-items-center shadow-sm">
			<div><img class="img-fluid" src="../img/iub-logo.png"></div>
			<button class="btn btn-primary fw-semibold" onclick="location.href='../login/login.html'">Iniciar Sesión</button>
		</header>

		<main class="container-fluid row pt-5">
			<div class="col-lg-2">
				<a class="btn btn-primary link-underline-opacity-0" href="../../index.html">Inicio</a>  
				<a class="btn btn-primary link-underline-opacity-0" href="../ver_academica/academic.html">Ver monitorias academicas</a>
				<a class="btn btn-primary link-underline-opacity-0" href="../postulacion/postulacion.html">Postularse</a>
			</div>
			
			<div class="col-lg-10">
				<h2 class="text-center">Areas disponibles</h2>
				
				<article class="row row-cols-1 row-cols-sm-2 row-cols-md-3 gx-5">
					<div class="card col">
						<img src="../img/sistem.png" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Sistemas</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>

					<div class="card col">
						<img src="../img/sistem.png" class="card-img-top" alt="...">
						
						<div class="card-body">
							<h5 class="card-title">Admisiones</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>

					<div class="card col">
						<img src="../img/sistem.png" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Sistemas</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>

					<div class="card col">
						<img src="../img/sistem.png" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">Admisiones</h5>
							<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
						</div>
					</div>
				</article>
			</div>
		</main>
		
    </body>
</html>
